<div class="block">
  <div class="content">            
    <h2 class="title"><%=link_to t('season.name', :name => h(@question.round.season.name)), season_path(@question.round.season) %> → <%=link_to t('round.name', :name => h(@question.round.name)), season_round_path(@question.round.season, @question.round) %> → <%= link_to t('question.name', :name => h(@question.name)), question_path(@question) %> → <%= t('question.titles.edit')%></h2>
    <div class="inner">
      <% form_for @question, :url => question_path(@question), :html => { :class => :form } do |f| -%>
          <div class="flash">
              <%= f.error_messages({:class => "message error"}) %>
          </div>
          <div class="group">
            <%= f.label :name, Question.human_attribute_name('name'), :class => :label %>
            <%= f.text_field :name, :class => 'text_field' %>
            <span class="description"><%= t 'question.attributes.name.description'%></span>
          </div>

          <div class="group">
            <%= f.label :body, Question.human_attribute_name('body'), :class => :label %>
            <%= textile_editor 'question', 'body' -%>
          </div>
        
        <div class="group navform">
          <input type="submit" class="button" value="<%= t 'txt.save' %>" /> <%= t 'txt.or' %> <%= link_to t('txt.cancel'), season_round_path(@question.round.season, @question.round) %>
        </div>
        <%= textile_editor_initialize -%>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
