<div class="block">
  <div class="secondary-navigation">
    <ul>
      <% if_authorized? :new, User  do %><li><%= link_to t('season.new'), new_season_path %></li><% end -%>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content"> 
  	<div class="flash">
      <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%=  message %></p>
      </div>
      <% end -%>
    </div>         
    <div class="inner">
  	  <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%=  message %></p>
          </div>
        <% end -%>
      </div>
    </div>
      <% form_tag "", :class => :form do -%>
          <% @seasons.each do |season| -%>
            <h2 class="title"><%= t('season.name', :name => h(season.name)) %></h2>
    		<div class="inner">
              <%= render :partial => 'rounds', :object => season.rounds %>	          	          
            </div>
          <% end -%>
      <% end -%>

  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>