<div class="block">
  <div class="secondary-navigation">
    <ul>
      <% if_authorized? :new, User  do %><li><%= link_to 'New season', new_season_path %></li><% end -%>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <div class="inner">
  	  <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%=  message %></p>
          </div>
        <% end -%>
      </div>
    </div>
      <% form_tag "", :class => :form do -%>
          <% @seasons.each do |season| -%>
            <h2 class="title"><%= h("Season: "+season.name) %></h2>
    		<div class="inner">
              <table class="table">                      
              	<tr>
              	  <th class="first">Name</th>
              	  <th class="last"></th>
              	</tr>              	
              	<% season.rounds.each do |round| %>
              	  <tr>              	              	  
              	    <td><%=link_to h("Round: "+round.name), season_round_path(season, round) %></td>
              	    <td class="last"><%=link_to "edit", edit_season_round_path(season, round) %></td>              	                  	  </tr>
            	<% end -%>              	
	          	  </table>	          	          
            </div>
          <% end -%>
      <% end -%>

  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>