<div class="block">
  <div class="content">            
    <h2 class="title">Edit Round</h2>
    <div class="inner">
      <% form_for @round, :url => season_round_path(@round.season, @round), :html => { :class => :form } do |f| -%>
		  <div class="flash">
              <%= f.error_messages({:class => "message error"}) %>
          </div>
          <div class="group">
            <%= f.label :name, "Name", :class => :label %>
            <%= f.text_field :name, :class => 'text_field' %>
            <span class="description">Ex: first round</span>
          </div>

          <div class="group">
            <%= f.label :start_responses_at, "Start responses at", :class => :label %>
            <%= f.datetime_select :start_responses_at, :class => 'datetime_select' %>
          </div>

          <div class="group">
            <%= f.label :end_responses_at, "End responses at", :class => :label %>
            <%= f.datetime_select :end_responses_at, :class => 'datetime_select' %>
          </div>

          <div class="group">
            <%= f.label :start_assess_at, "Start assess at", :class => :label %>
            <%= f.datetime_select :start_assess_at, :class => 'datetime_select' %>
          </div>

          <div class="group">
            <%= f.label :end_assess_at, "End assess at", :class => :label %>
            <%= f.datetime_select :end_assess_at, :class => 'datetime_select' %>
          </div>
        
        <div class="group navform">
          <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', season_path(@round.season) %>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>