<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'List', rounds_path %></li>
      <li><%= link_to 'New', new_round_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">All Rounds</h2>
    <div class="inner">
      <% form_tag "", :class => :form do -%>
        <table class="table">
          <tr>             
            <th class="first">ID</th>
            <th>Season_id</th>
            <th>Created at</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @rounds.each do |round| -%>
          <tr>
            <td>
              <%= round.id %>
            </td>
            <td>
              <%= link_to round.season_id, round_path(round) %>
            </td>
            <td>
              <%= round.created_at %>
            </td>
            <td class="last">
              <%= link_to 'show', round_path(round) %> |
              <%= link_to 'edit', edit_round_path(round) %> |
              <%= link_to 'destroy', round_path(round), :method => :delete, :confirm => 'Are you sure?' %>
            </td>
          </tr>          
          <% end -%>
        </table>
        <div class="actions-bar">
          <div class="actions">
          </div>
          
          <div class="clear"></div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>