<div class="block">
  <div class="secondary-navigation">
    <ul>
      <% if show_admin_content? %>
        <li><%= link_to t('round.edit'), edit_season_round_path(@round.season, @round) if !@round.published  %></li>
        <li><%= link_to t('round.publish'), publish_season_round_path(@round.season, @round) if !@round.published %></li>
      <% end -%>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <h2 class="title"><%=link_to t('season.name', :name => h(@round.season.name)), season_path(@round.season) %> → <%= t('round.name', :name => h(@round.name)) %></h2>
    <div class="inner"> 
      <div class="flash">
        <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%=  message %></p>          
        </div>
        <% end -%>
        <% if @not_published   %>
        <div class="message error">
          <h2><%= t('errors.messages.round_not_published', :count => @round.errors.count + @round.questions.not_valid.size) %></h2>
          <p><%= t('activerecord.errors.template.body') %></p>
          <ul>  
          <% @round.errors.each do |attribute, message| -%>          
            <li><%=  Round.human_attribute_name(attribute) %> <%= message %></li>    
          <% end-%>
          <% @round.questions.not_valid.each do |question| %>
          <% question.errors.each do |attribute, message| -%>          
              <li><%=  "#{t('question.name', :name => question.name)}: #{Question.human_attribute_name(attribute)} #{message}".downcase %> </li>    
            <% end-%>
        <% end %>
          </ul>
        </div>
        <% end -%>
      </div>    

      <hr />
        <p>
          <span class="gray"><%= t('round.responses') %></span>
          <span class="small"><%= l @round.start_responses_at, :format => :long %>&mdash;<%= l @round.end_responses_at, :format => :long %></span>
        </p>
        <p>
          <span class="gray"><%= t('round.assess') %></span>
          <span class="small"><%= l @round.start_assess_at, :format => :long %>&mdash;<%= l @round.end_assess_at, :format => :long %></span>
        </p>
        <p>
          <span class="gray"><%= t('round.published') %></span>
          <span class="small"><%= @round.published %></span>
        </p>
        <hr />
        <ul class="list">
        <% @round.questions.each do |question| %>
          <li>
            <h3><%=link_to t('question.name', :name => h(question.name)), question_path(question) %></h3>
            <%= render :partial => 'questions/question', :object => question %>
          </li>         
        <% end -%>
        </ul>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
