<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li><%= link_to t('round.edit'), edit_season_round_path(@round.season, @round)  %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
  	<h2 class="title"><%=link_to t('season.name', :name => h(@round.season.name)), season_path(@round.season) %> → <%= t('round.name', :name => h(@round.name)) %></h2>
    <div class="inner"> 
    	<div class="flash">
	      <% flash.each do |type, message| -%>
	      <div class="message <%= type %>">
	        <p><%=  message %></p>
	      </div>
	      <% end -%>
	    </div>    	
    	<hr />
        <p>
          <span class="gray"><%= t('round.responses') %></span>
          <span class="small"><%= l @round.start_responses_at, :format => :long %>&mdash;<%= l @round.end_responses_at, :format => :long %></span>
        </p>
        <p>
          <span class="gray"><%= t('round.assess') %></span>
          <span class="small"><%= l @round.start_assess_at, :format => :long %>&mdash;<%= l @round.end_assess_at, :format => :long %></span>
        </p>
        <p>
          <span class="gray"><%= t('round.published') %></span>
          <span class="small"><%= @round.published %></span>
        </p>
        <hr />
        <ul class="list">
        <% @round.questions.each do |question| %>
          <li>
          	<h3><%=link_to t('question.name', :name => h(question.name)), season_round_question_path(@round.season, @round, question) %></h3>
      		<div><%=h question.body %></div>
          </li>       	
        <% end -%>
        <ul>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>