<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Web App</title>
	<%= stylesheet_link_tag 'web_app_theme', "themes/orange/style" %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Чемпионат по КВН</a></h1>
      <div id="user-navigation">
        <ul>         
          <% if logged_in? -%>
		    <li id="user-bar-greeting">Hi, <%= link_to_current_user :content_method => :login %></li>
		    <li id="user-bar-action"  ><%= link_to "Log out", logout_path, { :title => "Log out" }    %></li>
		  <% else -%>
		    <li id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %></li>
            <li id="user-bar-action"  ><%= link_to "Sign up", signup_path, { :title => "Create an account" } %></li>
		  <% end -%>          
        </ul>
        <div class="clear"></div>
      </div>      
      <div id="main-navigation">
        <ul>
        	<li><%= link_to 'Чемпионат', current_seasons_path %></li>         
        </ul>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; 2009 Your Site.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>
