<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= t 'web_app' %></title>
	<%= stylesheet_link_tag 'web_app_theme', "themes/orange/style" %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= t 'web_app' %></a></h1>
      <div id="user-navigation">
        <ul>              
          <% if signed_in? -%>
            <li id="user-bar-greeting"><%= t('userbar.greeting', :username => current_user.name.empty? ? current_user.email : current_user.name) %></li>
            <li id="user-bar-action"  ><%= link_to t('userbar.logout'), logout_path, { :title => "Log out" }    %></li>
          <% else -%>
            <li id="user-bar-action"  ><%= link_to t('userbar.login'),  login_path,  { :title => "Log in" } %></li>
            <li id="user-bar-action"  ><%= link_to t('userbar.signup'), signup_path, { :title => "Create an account" } %></li>
          <% end -%>                  
        </ul>
        <div class="clear"></div>
      </div>      
      <div id="main-navigation">
        <ul>
        	<li><%= link_to t('menu.home'), current_seasons_path %></li>    
        	<% if show_admin_content? %><li><%= link_to t('menu.users'), users_path %></li><% end %>        
        </ul>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; 2009 Your Site.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>
